.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
 }
 .screen-body-item {
    flex: 1;
    padding: 50px;
 }
 input {
   margin: 10px 10px 10px;
 }
 .showdata {
    color: black;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .one{
   background-color:limegreen;
   float: left;
 }
 .two{
   background-color:rgb(50, 125, 205);
   float: left;
 }
 .three{
   background-color:rgb(202, 50, 205);
   float: left;
 }
 .four{
   background-color:rgba(49, 44, 49, 0.443);
   float: left;
 }
 #form-group {
    padding: 20px;
 }